/* =============================================================================
//  Global list styles
// ========================================================================== */

// @import "../core/libs";
// @import "../core/breakpoints";

/* Globals
// -------------------------------------------------------------------------- */

li {
    @include font-scale(2);

    strong {
        font-weight: bold;
    }
}

li {
    margin-bottom: 0.5em;
}

ol, ul {
    margin-left: 1.5em; /* bump to the right a little @ mobile sizes so the numbers/bullets don't run off */
    padding-left: 0;

    @include media(">small") {
        margin-left: 0;
    }
}

/* Utilities
// -------------------------------------------------------------------------- */

// --- config & mixins ---------------------------------------------------------

@mixin l-list-undecorated {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

@mixin l-list-inline {
    li, dt, dd {
        display: inline-block;
        margin-right: 1em;

        &:last-child { margin-right: 0; }
    }
}

// --- utility classes ---------------------------------------------------------

.l-list-undecorated {
    @include l-list-undecorated;
}

.l-list-inline {
    @include l-list-undecorated;
    @include l-list-inline;

    // make inline only above a certain breakpoint
    @each $breakpoint, $size in $breakpoints {
        &\@#{$breakpoint} {
            li, dt, dd {
                display: block;
                margin-right: 0;
            }

            @include media(">#{$breakpoint}") { @include l-list-inline; }
        }
    }
}