/* =============================================================================
//  Webfonts
// ========================================================================== */

/*doc
---
title: Fonts
name: fonts
category: Core
---

Fonts are accessed through SASS placeholders. Just extend the appropriate one. Fonts are applied to type, globally, in _type.scss, and individual modules can set up their own font styles.

Please DO NOT use your own font-family attributes in any circumstance. Always use the mixins.

```
// display fonts
// -> headlines, buttons, labels, etc.

@include font-display
@include font-display(bold)

// body fonts
// -> paragraphs, captions, etc.

@include font-body
@include font-body(normal, italic)
@include font-body(bold)
```

*/

// -> requires Bourbon & Sass Type Helpers libs
// @import "libs";


// Config & mixins
// -----------------------------------------------------------------------------

// default type sizes
$type-size--default: 16px;
$type-size-amp: 1.1em; // size of ampersands relative to their context
$type-line_height: 1.5;

@mixin type--default {
  @include rem(font-size, $type-size--default);
}

// modular scale
// -> requires SASS Type Helpers
$font-scale: 10px 13px 16px 19px 26px 42px 68px 110px;

/* Globals
// -------------------------------------------------------------------------- */

/* ----- Aspira ------------------------------------------------------------- */

@include font-face("aspira-thin", "#{$asset-path-fonts}/Aspira-Thin-webfont", $file-formats: eot svg woff woff2 ttf);
@include font-face("aspira-regular", "#{$asset-path-fonts}/Aspira-Regular-webfont", $file-formats: eot svg woff woff2 ttf);
@include font-face("aspira-bold", "#{$asset-path-fonts}/Aspira-Demi-webfont", bold, $file-formats: eot svg woff woff2 ttf);

/* ----- Copernicus --------------------------------------------------------- */

@include font-face("copernicus-book", "#{$asset-path-fonts}/Copernicus-Book", $file-formats: eot woff);
@include font-face("copernicus-italic", "#{$asset-path-fonts}/Copernicus-BookItalic", normal, italic, $file-formats: eot woff);
@include font-face("copernicus-bold", "#{$asset-path-fonts}/Copernicus-Semibold", bold, $file-formats: eot woff);

/* Font styles
// -> PUBLIC, use these to style type globally & in modules
// -------------------------------------------------------------------------- */

/* ----- Display type ------------------------------------------------------- */

@mixin font-display($weight: thin, $style: normal) {
    @if ($style == normal) {
        font-family: "aspira-#{$weight}", $helvetica;
    } @else {
        font-family: "aspira-#{$weight}-#{$style}", $helvetica;
    }
}

/* ----- Body type ---------------------------------------------------------- */

@mixin font-body($weight: thin, $style: normal) {
    @if ($style == normal) {
        font-family: "copernicus-#{$weight}", $georgia;
    } @else {
        font-family: "copernicus-#{$weight}-#{$style}", $georgia;
    }
}

/* ----- Ampersands --------------------------------------------------------- */

// @include mixin amp-system {
//   font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
//   font-style: italic;
//   font-weight: normal;
// }


// /* use the best ampersands from common system fonts... */
// .amp {
//     @include amp-system;
//     font-size: $type-size-amp; /* relative to whatever type surrounds it -- it renders slightly bigger */
//     color: inherit;
// }
